<form action="" method="get">
  <select name="category" value="category">
    {{#each categories}}
      <option value="{{this}}">{{this}}</option>
    {{/each}}
    <option value="None">None</option>
    <input type="submit" value="filter">
  </select>
</form>

<table>
  <tr>
    <th>category</th>
    <th>title</th>
    <th>price</th>
    <th>details</th>
    <th>discount</th>
  </tr>
  {{#each data}}
    {{#if enabled}}
    <tr>
      <td> {{category}} </td>
      <td> {{title}} </td>
      <td> 
        {{#if discount }}
            <span class="price">{{price}}$</span> 
            <span class="discount">{{discountPrice}}$</span>
        {{else}}
        {{price}}$
        {{/if}}
     </td>
      <td>
        <div>
          <form action="details">
            <input type="hidden" name="id" value="{{id}}">
            <input type="submit" value="details"></input>
          </form>
        </div>
      </td>
      <td>
        <div>
          <form>
              <input type="hidden" name="discount" value="{{id}}">
              <input type="submit" value="discount">
          </form>
        </div>
      </td>
    </tr>
    {{/if}}
  {{/each}}
</table>