<td class="">
  <div class="d-flex align-items-center" style="height: 38px;">
    {{_id}}</div>
</td>
<td class="">
  <div class="d-flex align-items-center" style="height: 38px;">
    {{insuranced}}
  </div>
</td>
<td class="">
  <div class="d-flex align-items-center" style="height: 38px;">
    {{gasoline}}
  </div>
</td>
<td class="">
  <div class="d-flex align-items-center" style="height: 38px;">
    {{damaged}}
  </div>
</td>
<td class="">
  <div class="d-flex align-items-center" style="height: 38px;">
    {{fourwheeled}}
  </div>
</td>